.NavContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;
  @media screen and (min-width: 375px) {
    text-transform: none;
  }
}

.Nav_text {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  text-align: right;
  line-height: 142.6%;
  color: #ff6060;
  text-decoration: none;
  padding-left: 0.8rem;
  @media screen and (min-width: 375px) {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    text-align: right;
    line-height: 142.6%;
    padding-left: 3.5rem;
    }
    &:hover,
    &:focus {
      text-decoration-line: underline;
    }
}